@media (min-width: 768px) and (max-width: 991px) {
  .count .container {
    padding-top: 50px;
  }
}

@media (max-width: 991px) {
  .count {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .contact .container .about-contact .keyword {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .count {
    height: 100vh;
  }

  .count .container {
    padding-top: 35px;
  }

  .contact .container .about-contact .keyword {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .home .over-lay .content-head h1 {
    font-size: 30px;
  }
}
